@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #23252c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #1a1b21;
  width: 100vw;
  height: auto;
}
.img--container {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.main--contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main--name h5 {
  color: #f3bf99;
  margin-bottom: 0.7rem;
}
.main--name a {
  text-decoration: none;
}

.contact--links--container {
  width: auto;
  display: flex;
  justify-content: center;
}
.contact--links--container a {
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin: 1rem;
  width: 9rem;
  text-align: center;
}
.email {
  background-color: #ffff;
  color: #374151;
}
.linkedin {
  background-color: #5093e2;
}
.contact--link--icon-email {
  background-color: black;
}

.info {
  padding: 1rem 1.5rem;
}
.info h3 {
  margin-bottom: 0.5rem;
}
.info p {
  color: #dcdcdc;
  font-weight: 300;
}

.main--footer--container {
  background-color: #161619;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
}
.main--footer--container a {
  width: auto;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 80vw;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    border-radius: 15px;
    margin: 2rem auto;
    width: 60vw;
  }
  .img--container {
    border-radius: 15px;
  }
  .img--container img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .main--footer--container {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media only screen and (min-width: 700px) {
  .container {
    width: 45vw;
  }
  .contact--links--container a {
    width: 8rem;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 30vw;
  }
}
