@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #23252c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #1a1b21;
  width: 100vw;
  height: auto;
}
.img--container {
  width: 100%;
}
img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.main--contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main--name h5 {
  color: #f3bf99;
  margin-bottom: 0.7rem;
}
.main--name a {
  text-decoration: none;
}

.contact--links--container {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: yellow;
}
.contact--links--container a {
  background-color: #f3bf99;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
}
