body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section {
  padding: 20px;
}

.nav--container {
  box-shadow: 0px 6px 3px 3px rgba(0, 0, 0, 0.3);
  height: 3rem;
  margin-bottom: 1rem;
}
.nav--container img {
  padding: 12px 23px;
  max-width: 200px;
}

.main--hero--section--container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  height: max-content;
}
.main--hero--section--image--container {
  /* flex properties */
  justify-self: center;
  align-self: center;
  /* end of flex properties */

  margin: 1rem auto;
  width: 50vw;
  height: auto;
}
.main--hero--section--image {
  width: 100%;
  height: auto;
}
.main--hero--content--container {
  /* flex properties */
  align-items: flex-start;
  justify-self: center;
  /* end of flex properties */

  width: 50vw;
  margin: auto 2rem;
  height: fit-content;
  padding: 1rem auto;
}

.main--hero--content--container h1 {
  font-size: 3rem;
  text-align: center;
}

.main--hero--content--container p {
  font-size: 1.7rem;
  letter-spacing: 2px;
  margin-top: 1.5rem auto;
}

.card--section {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}

.card--section img {
  height: auto;
}
.card--rating--container {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
.card--rating--container img {
  width: 15px;
  height: auto;
}
.card--container {
  position: relative;
}
.card--sold--out--bage {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 7px;
  top: 0.5rem;
  left: 0.5rem;
}
